* {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
body {
  background-color: rgba(22, 22, 23, 0.8);
}
/* ------------ Header -------- */
header {
  /* background-color: #000; */
  /* border: 1px solid black; */
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  color: rgba(194, 194, 194, 0.8);
}
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(22, 22, 23, 0.8);
}
header svg {
  display: flex;
  align-items: center;
}
header svg path {
  height: 43.9915px;
  fill: rgba(194, 194, 194, 0.8);
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 60vw;
}
ul #logo path {
  fill: rgba(255, 255, 255, 0.8);
}
li {
  color: rgba(194, 194, 194, 0.8);
  list-style: none;
  font-size: 12px;
  font-weight: 600;
}

/* ------------ Section 1 -------- */
.section1 {
  height: 45px;
  background-color: rgb(29, 29, 31);
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 button {
  border: none;
  font-size: 14px;
  color: rgb(0, 102, 204);
  background-color: rgba(255, 255, 255, 0);
}
.section1 button,
.section1 button i {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 100;
}

/* ------------ Section 2 -------- */
.section2 {
  background-image: url(img/apple_15_pro.jpg);
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.sect2_info {
  text-align: center;
  padding: 70px 0;
}
.sect2_info h1 {
  font-size: 50px;
}
.sect2_info h2 {
  font-size: 25px;
  font-weight: 300;
}
.sect2_info div {
  padding-top: 20px;
}
.sect2_info div a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  padding: 0 20px;
}
.sect2_info div a i {
  width: 2px;
}
/* ------------ Section 3 -------- */
.section3 {
  background-image: url(img/apple_15.jpg);
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.sect3_info {
  text-align: center;
  padding: 70px 0;
  color: rgb(0, 0, 0);
}
.sect3_info h1 {
  font-size: 50px;
}
.sect3_info h2 {
  font-size: 25px;
  font-weight: 300;
}
.sect3_info div {
  padding-top: 20px;
}
.sect3_info div a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  padding: 0 20px;
}
.sect3_info div a i {
  width: 2px;
}
/* ------------ Section 4 -------- */
.section4 {
  background-image: url(img/apple_watch_series_9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.sect4_info {
  text-align: center;
  padding: 70px 0;
  color: white;
}
.sect4_info h1 {
  background-image: url(img/watch_head.png);
  background-size: 151px 56px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  /* width: 200px; */
}
.sect4_info h2 {
  font-size: 25px;
  font-weight: 300;
}
.sect4_info p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}
.sect4_info div {
  padding-top: 20px;
}
.sect4_info div a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
}
/* ------------ Section 5 -------- */
.section5 {
  background-color: white;
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px 0 0 0;
}
.section5 > div {
  width: 49%;
  height: 400px;
  background-color: rgb(251, 251, 253);
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 0 10px 0;
}
.macbook_pro {
}
